@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, span {
    font-size: 1.5rem;
}

body {
    background-color: #d1cece;
    color: #6d6d6d;
    font-family: 'Raleway', sans-serif;
}

.title {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 30vw;
    text-align: center;
    font-size: 8em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1070px) {
    .title {
        font-size: 6em !important;
        line-height: 80%;
        margin-top: 10px;
    }
    .task-list {
        width: 60vw !important;
    }
}

.task-list {
    margin: 0 auto;
    height: auto;
    width: 30vw;
    line-height: 1.8;
    background-color: #fff;
    box-shadow: 0 3px 10px #36363680;
}

.task {
    display: block;
    padding: .2rem 0;
    border-bottom: 1px solid #c4c4c4;
}

.main-input {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #a7a7a7;
}

.wrapper {
    display: flex;
    padding: 10px;
    width: 100%;
}

.input-btn {
    border: 0; 
    background-color: transparent;
    width: 1.4em;
}

.task-input {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    border: 0;
    outline: 0;
    flex: 1;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkmark {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    border: 1px solid #a7a7a7;
    border-radius: 50%;
}

.checkmark::before {
    display: block;
    font-size: .8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .checkmark::before {
    opacity: 1;
    color: #019b01;
}

.checkbox:checked + .checkmark {
    border-color: #019b01;
}

input[type="checkbox"]:checked + .text-item {
    
    text-decoration: line-through;
}

.checkbox:checked  .text-item {
    text-decoration: line-through;
}

.footer-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: .8em;
    padding: .2rem 0;
}

.form-radio-btn {
    display: inline-block;
    margin-right: 10px;
    
}

.form-radio-btn input[type=radio] {
	-webkit-appearance: none;
    -moz-appearance: none;
}

.form-radio-btn span {
	display: inline-block;
	cursor: pointer;
    padding: 0px 5px;
    font-size: 1em;
	line-height: 1.2em;
	border-radius: 4px;
	user-select: none;
}

.form-radio-btn input[type=radio]:checked + span {
    border: 1px solid #999;
    border-color: crimson;
}
